.gradient-background {
    background: linear-gradient(300deg, #0D9DDA, #032D60, #04E1CB);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    color: #343434;    
}

.profile-img {
    min-height: 200px;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.contrast-background {
    background-color: #B4B0AB;
}