body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    color: #343434;    
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.profile-img {
    min-height: 200px;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.contrast-background {
    background-color: #B4B0AB;
}

.resume-card {
    display: flex;
}

.resume-card > ul {
    flex-wrap: wrap;
    justify-content: flex-start;
}